body {
  --ayva-blue: #6784bb;
  --ayva-color-error: #A80000;
  --ayva-text-color-blue: #6784bb;
  --ayva-text-color-off-white: rgb(235, 235, 235);
  --ayva-text-color-light-gray: rgb(176, 176, 176);
  --ayva-background-dark: rgb(17, 17, 17);
  --ayva-background-medium-dark: rgb(20, 20, 20);
  --ayva-background-medium: rgb(24, 24, 24);
  --ayva-background-light: rgb(31, 31, 31);
  --ayva-hover-opacity: 0.85;
  --ayva-active-opacity: 0.75;
  --ayva-button-primary-color: #374f7b;
  --ayva-button-primary-color-hover: #3a5281;
  --ayva-button-primary-color-active: #2f436a;
  --ayva-tempest-axis-color: rgb(138, 99, 131);
  background: var(--ayva-background-light);
  margin: 0
}


.ayva-dropdown-input {
  background-color: var(--ayva-background-dark);
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.chevron {
  width: 14px;
  height: 14px;
}

.connect-status-icon {
  width: 12px;
  height: 12px;
  border-radius: 9px;
  margin-right: 10px;
}

.connect-status-icon.disconnected {
  background-color: #a80000;
}

.connect-status-icon.connected {
  background-color: green;
}

.disconnected {
  cursor: pointer;
  opacity: 0.5;
}

.icon:not([disabled]) {
  cursor: pointer;
}

.icon {
  width: 25px;
}

.icon {
  outline: none;
}

input {
  background-color: var(--ayva-background-dark);
}

[disabled] {
  opacity: 0.5 !important;
  cursor: not-allowed !important;
}